@import 'tailwindcss';
@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";
@import "vue3-toastify/dist/index.css";

/* fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flowbite";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    @apply font-sans;
    font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
button {
    cursor: pointer;
}

.btn {
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #321BDE !important;
}
