@import 'tailwindcss';
@import "flowbite/src/themes/default";
@import "vue3-toastify/dist/index.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@plugin "flowbite/plugin";

/* fontes do Google */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flowbite";

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Alterado para garantir toasts na paleta de cores definida no figma */
:root {
    --toastify-color-success: #008858;
    --toastify-color-error: #DE321B;
}

body {
    @apply font-sans;
    font-family: 'Roboto', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
button {
    cursor: pointer;
}

.btn {
    border-radius: 8px;
}

.btn.btn-primary {
    background-color: #321BDE !important;
}

input:hover {
    border: 1px solid #757575 !important;
    transition: 0.3s;
}